{include file="public/header"/}
{page:location}
{page:pos label="管理员管理" link="admin/admins/lists"/}
{page:pos label=":(isset($info)?'编辑':'新增').'管理员'"}
{/page:location}
<div id="container">
    {page:header title=":(isset($info)?'编辑':'新增').'管理员'"}
    <a href="{:url('lists')}" class="am-btn am-btn-xs am-btn-default" data-pjax><i class="am-icon-backward"></i> 返回列表</a>
    {/page:header}

    {form:form class="am-g-fixed"}
    {form:fieldset title="登录信息"}
        {form:input type="text" label="用户名" name="username" value="" tips="请输入登录用户名" help="必填，不可重复"/}
        {form:input type="password" label="登录密码" name="password" value="" tips="请输入登录密码"/}
        {form:input type="password" label="重复密码" name="confirm" value="" tips="重复上面的登录密码"/}
        {form:select label="状态" name="status" options="$status" value="$info['a']"/}
        {form:input type="text" label="锁定原因" name="remark" value="" help="锁定帐号时,必须要填写原因"/}
    {/form:fieldset}
    {/form:form}
</div>
{include file="public/footer"/}