{include file="public/header"/}
{page:location}
{page:pos label="管理员管理" link="admin/admins/lists"/}
{page:pos label="管理员列表"}
{/page:location}
<div id="container">
    {page:header title="管理员列表"}
    <a href="{:url('add')}" class="am-btn am-btn-xs am-btn-primary" data-pjax><i class="am-icon-plus"></i> 添加管理员</a>
    {/page:header}

    {page:search /}

    <table class="page-table am-table am-table-bordered am-table-striped am-table-hover am-table-compact am-text-nowrap am-margin-bottom-xs">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>真实姓名</th>
            <th>性别</th>
            <th>手机号</th>
            <th>E-mail</th>
            <th>登录IP</th>
            <th>登录时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $lists as $row}
        <tr>
            <td>{$row.id}</td>
            <td>{$row.username}</td>
            <td>{$row.realname}</td>
            <td>{$gender[$row.gender]}</td>
            <td>{$row.mobile}</td>
            <td>{$row.email}</td>
            <td>{$row.login_ip}</td>
            <td>{$row.login_time|f_date="Y-m-d H:i:s",###}</td>
            <td>
                {if $row.status == 1}
                <span class="am-text-success">正常</span>
                {else/}
                <span class="am-text-warning">锁定</span>
                {/if}
            </td>
            <td>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {page:paging /}
</div>
{include file="public/footer"/}