{include file="public/header"/}
<ol class="location am-breadcrumb am-breadcrumb-slash">
    <li><a href="{:url('admin/index/index')}" class="am-icon-home">首页</a></li>
    <li><a href="#">分类</a></li>
    <li class="am-active">内容</li>
    <li class="am-fr">aaa</li>
</ol>
<div class="container">
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
</div>
{include file="public/footer"/}