{include file="public/header"/}
{:location()}
<div class="container">
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
    assaassa<br>
</div>
{include file="public/footer"/}