{if (! $Request.isPjax)}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title> - 管理后台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <!--<link rel="shortcut icon" href="/favicon.ico">-->
{/* 载入框架&插件CSS */}
    {load href="__libs__/layer/skin/layer.css"/}
    {load href="__libs__/amaze/css/amazeui.min.css"/}
    {load href="__libs__/tree/amazeui.tree.min.css"/}
    {load href="__libs__/datetimepicker/amazeui.datetimepicker-se.min.css"/}
{/* 载入框架&插件JS */}
    {load href="__libs__/notify.js"/}
    {load href="__libs__/jquery/jquery.min.js"/}
    {load href="__libs__/jquery/jquery.history.js"/}
    {load href="__libs__/layer/layer.js"/}
    {load href="__libs__/amaze/js/amazeui.min.js"/}
    {load href="__libs__/amaze/plugin/amazeui.dialog.min.js"/}
    {load href="__libs__/tree/amazeui.tree.min.js"/}
    {load href="__libs__/moment/moment.min.js"/}
    {load href="__libs__/moment/moment-locale-cn.js"/}
    {load href="__libs__/datetimepicker/amazeui.datetimepicker-se.min.js"/}
{/* 载入项目 CSS & JS */}
    {load href="__style__/admin/common.css"/}
    {load href="__script__/admin/functions.js"/}
    {load href="__script__/admin/message.js"/}
    {load href="__script__/admin/pjax.js"/}
    {load href="__script__/admin/common.js"/}
</head>
<body>
{assign name="menus" value=":build_menus()"/}
<div id="layout-north">
    <div id="layout-logo">
        <a href="{:url('admin/index/index')}" data-pjax> - 后台管理系统</a>
    </div>
    <div id="layout-tools">
        <ul class="nav-tools am-nav am-nav-pills">
            <li>
                <a href="{:url('admin/login/logout')}" class="safe-exit" data-confirm="您确认要退出吗?">
                    <i class="am-icon-power-off"></i> 安全退出
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="layout-west">
    <div id="layout-menus">
        <div id="layout-menus-info" class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" href="javascript:;" data-am-dropdown-toggle>
                <img src="__image__/admin/avatar.png" alt="..." class="avatar am-circle">
                <span class="profile">Welcome :</span>
                <span class="handle"><i class="am-icon-users"></i> 管理员 <i class="am-icon-caret-down"></i></span>
            </a>
            <ul class="am-dropdown-content">
                <li><a href="{:url('admin/profile/info')}" data-pjax><i class="am-icon-user"></i> 个人资料</a></li>
                <li><a href="{:url('admin/profile/login')}" data-pjax><i class="am-icon-tasks"></i> 登录日志</a></li>
                <li class="am-divider"></li>
                <li>
                    <a href="{:url('admin/login/logout')}" class="safe-exit" data-confirm="您确认要退出吗?">
                        <i class="am-icon-power-off"></i> 安全退出
                    </a>
                </li>
            </ul>
        </div>
        <ul id="layout-menus-lists" class="am-list">
            <li class="menu-item am-active">
                <a href="{:url('admin/index/index')}" data-pjax>
                    <i class="menus-icon am-icon-home"></i> 首页
                </a>
            </li>
            {foreach $menus as $m => $menus}
            {if ! isset($menus['items'])}
            <li class="menu-item">
                <a href="{$menus.link|url=###}" data-pjax>
                    <i class="menus-icon {$menus.icon}"></i> {$menus.label}
                </a>
            </li>
            {else/}
            <li class="menu-group am-panel">
                <a href="javascript:;" data-am-collapse="{parent: '#layout-menus-lists', target: '#menus-sub-{$m}'}">
                    <i class="menus-icon {$menus.icon}"></i> {$menus.label}
                    <i class="am-icon-angle-left am-fr"></i>
                </a>
                <ul class="sub-menus am-list am-collapse" id="menus-sub-{$m}">
                    {foreach name="menus['items']" item="item" key="k"}
                    <li class="menu-item"><a href="{$item.link|url=###}" data-pjax><i class="am-icon-chevron-right"></i> {$item.label}</a></li>
                    {/foreach}
                </ul>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>
</div>
<div id="layout-center">
    <div id="layout-main">
{/if}