@charset "utf-8";

body { font-size: 12px; overflow: hidden; min-width: 1000px; }
input[type="search"]::-webkit-search-cancel-button{ -webkit-appearance: searchfield-cancel-button !important; cursor: pointer; }

/* 后台主页布局 */
#layout-north { position: relative; z-index: 2; top: 0; left: 0; width: 100%; height: 46px; padding-left: 180px; border-bottom: 1px solid #cccccc; background: #f3f3f4; }
#layout-west { position: fixed; z-index: 9; top: 0; left: 0; width: 180px; height: 100%; padding: 0 0; border-right: 1px solid #cecece; box-shadow: inset 1px 0 0 rgba(255, 255, 255, .3), 0 1px 5px rgba(0, 0, 0, .2); }
#layout-center { position: fixed; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; padding: 46px 0 0 180px; }
#layout-menus { width: 100%; height: 100%; overflow-y: auto; background: #2F4050; }
#layout-main { position: relative; width: 100%; height: 100%; min-width: 800px; padding-top: 26px; }
/* 顶部导航 */
#layout-logo { float: left; display: block; height: 40px; margin: 3px 0 0 20px; font-weight: 600; color: #999c9e; line-height: 40px; font-size: 1.5em; }
#layout-tools { float: right; height: 30px; margin: 8px 10px 0; }
#layout-nav { float: left; height: 45px; margin: 0 20px; }
#layout-nav > li > a { line-height: 45px; padding: 0 14px; color: #666666; font-weight: 600; }
#layout-nav > li.am-active > a { background: rgba(0,0,0, 0.5); color: #FFFFFF; }
#layout-nav > li.am-active > a:after {
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -1px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 7px solid #f8f8f8;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 0 dotted;
    opacity: 1;
    border-bottom-color: #e3e3e3;
}
#layout-tools > li > a { line-height: 30px; padding: 0 10px; color: #999c9e; font-weight: 600; }
#layout-tools > li.am-active > a { background-color: rgba(120, 120,120, 0.1); }
#layout-tools > li > a.safe-exit { color: #F37B1D; }
/* 菜单部分 */
#layout-menus-info { width: 160px; margin: 20px 0 20px 9px; }
#layout-menus-info > a { position: relative; display: block; padding: 5px; }
#layout-menus-info .avatar { width: 50px; height: 50px; }
#layout-menus-info .profile,
#layout-menus-info .handle { position: absolute; display: inline-block; font-weight: 600; color: #FFFFFF; }
#layout-menus-info .profile { top: 10px; left: 67px; }
#layout-menus-info .handle { top: 32px; left: 67px; }
#layout-menus-lists { margin: 0; }
#layout-menus-lists a { padding: 8px 15px; color: #a7b1c2; font-weight: 600; }
#layout-menus-lists a:hover { color: #ffffff; }
#layout-menus-lists a .sub-menus-angle { margin-right: 10px; }
#layout-menus-lists a .menus-icon { margin-right: 5px; }
#layout-menus-lists li { background: #2F4050; border: 0; }
#layout-menus-lists > ul { margin-top: 0; }
#layout-menus-lists > ul > li.am-active { border-left: 4px solid #19aa8d; background: #293846; }
#layout-menus-lists > ul > li.am-active > a { color: #FFF; }
#layout-menus-lists > ul > li .sub-menus li { background: #293846; }
#layout-menus-lists > ul > li a .am-icon-:before { content: "\f104"; }
#layout-menus-lists > ul > li.am-active a .am-icon-:before { content: "\f107"; }
#layout-menus-lists .sub-menus {  margin: 0; background: #ececec; }
#layout-menus-lists .sub-menus > li > a { padding-left: 24px; }
#layout-menus-lists .sub-menus > li.am-active a { color: #FFF; }
/* 内页部分 */
#location {
    position: absolute; top: 0; left: 0; z-index: 1; width: 100%; margin: 0; padding: 4px 10px;
    background: #fff; border-bottom: 1px solid #eeeeee;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .2);
}
#location > li + li:before { padding: 0 4px; }
#location li,#location li a { color: inherit; }
#location li.am-active { font-weight: 700; }
#location li.am-fr { margin-left: 10px; }
#location li.am-fr:before { content: ''; }
#container { position: relative; overflow-y: auto; height: 100%; padding: 10px 15px; }
/* 布局内容结束 */

.error-404 { width: 500px; margin: 50px auto; }
.panel-container li { padding: 10px 5px; }
.panel-container li .am-panel { margin: 0; }


/* Layer Skin Class */
.layer-message-tips .layui-layer-content { padding: 0 !important; }
.layer-message-tips .layui-layer-content .am-alert { position: relative; min-width: 240px; padding: 8px 40px 8px 35px; margin: 0; font-weight: 600; }
.layer-message-tips .layui-layer-content .am-alert > [class^=am-icon-] { position: absolute; top: 5px; left: 8px; font-size: 30px; }
.layer-message-tips .layui-layer-content .am-alert .close { position: absolute; right: 12px; }
.layer-message-alert { width: 460px; }
.layer-message-alert .layui-layer-title { height: 34px; line-height: 34px; padding-left: 15px; }
.layer-message-alert .layui-layer-content { min-height: 90px; }
.layer-message-alert .layui-layer-btn { text-align: center; padding: 5px; }
.layer-message-alert .layui-layer-btn a { display: table-cell; width: 1%; float: none; text-align: center; }