@charset "utf-8";

body { font-size: 12px; overflow: hidden; min-width: 1000px; }
input[type="search"]::-webkit-search-cancel-button{ -webkit-appearance: searchfield-cancel-button !important; cursor: pointer; }

/* 后台主页布局 */
#layout-north { position: relative; z-index: 2; top: 0; left: 0; width: 100%; height: 46px; padding-left: 180px; }
#layout-west { position: fixed; z-index: 9; top: 0; left: 0; width: 180px; height: 100%; padding: 0 0; }
#layout-center { position: fixed; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; padding: 46px 0 0 180px; }
#layout-menus { width: 100%; height: 100%; overflow-y: auto; }
#layout-main { position: relative; width: 100%; height: 100%; min-width: 800px; padding-top: 26px; }
/* 布局颜色 */
#layout-north { border-bottom: 1px solid #cccccc; background: #f3f3f4; }
#layout-west { border-right: 1px solid #cecece; box-shadow: inset 1px 0 0 rgba(255, 255, 255, .3), 0 1px 5px rgba(0, 0, 0, .2); }
#layout-menus { background: #2F4050; }
/* 顶部导航 */
#layout-logo { float: left; height: 40px; padding: 3px 20px; text-align: center; }
#layout-logo a { display: block; height: 40px; line-height: 40px; font-size: 1.5em; font-weight: 600; color: #999c9e; }
#layout-tools { float: right; height: 40px; }
#layout-nav { float: left; height: 40px; }
#layout-north .nav-tools { height: 31px; margin: 1px 5px; padding: 5px 0; }
#layout-north .nav-tools > li > a { font-size: 14px; line-height: 31px; padding: 0 10px; color: #999c9e; font-weight: 600; }
#layout-north .nav-tools > li.am-active > a { background-color: rgba(120, 120,120, 0.1); }
#layout-north .nav-tools > li > a.safe-exit { color: #F37B1D; }
/* 菜单部分 */
#layout-menus-info { width: 160px; margin: 20px 0 20px 9px; }
#layout-menus-info > a { position: relative; display: block; padding: 5px; }
#layout-menus-info .avatar { width: 50px; height: 50px; }
#layout-menus-info .profile,
#layout-menus-info .handle { position: absolute; display: inline-block; font-weight: 600; color: #FFFFFF; }
#layout-menus-info .profile { top: 10px; left: 67px; }
#layout-menus-info .handle { top: 32px; left: 67px; }
#layout-menus-lists { margin: 0; }
#layout-menus-lists a { padding: 8px 15px; color: #a7b1c2; font-weight: 600; }
#layout-menus-lists a:hover { color: #ffffff; }
#layout-menus-lists a .sub-menus-angle { margin-right: 10px; }
#layout-menus-lists a .menus-icon { margin-right: 5px; }
#layout-menus-lists li { background: #2F4050; border: 0; }
#layout-menus-lists > li.am-active { border-left: 4px solid #19aa8d; background: #293846; }
#layout-menus-lists > li.am-active > a { color: #FFF; }
#layout-menus-lists > li.am-active .sub-menus li { background: #293846; }
#layout-menus-lists .sub-menus {  margin: 0; background: #ececec; }
#layout-menus-lists .sub-menus > li > a { padding-left: 24px; }
#layout-menus-lists .sub-menus > li.am-active a { color: #FFF; }
/* 内页部分 */
.location {
    position: absolute; top: 0; left: 0; z-index: 1; width: 100%; margin: 0; padding: 4px 10px;
    background: #fff; border-bottom: 1px solid #eeeeee; box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .2);
}
.location > li + li:before { padding: 0 4px; }
.location li,.location li a { color: inherit; }
.location li.am-active { font-weight: 700; }
.container { position: relative; overflow-y: auto; height: 100%; padding: 10px 15px; }

.error-404 { width: 500px; margin: 20px auto; }

/* Layer Skin Class */
.layer-message .layui-layer-content { padding: 0 !important; }
.layer-message .layui-layer-content .am-alert { position: relative; min-width: 240px; padding: 8px 40px 8px 35px; margin: 0; font-weight: 600; }
.layer-message .layui-layer-content .am-alert > [class^=am-icon-] { position: absolute; top: 5px; left: 8px; font-size: 30px; }
.layer-message .layui-layer-content .am-alert .close { position: absolute; right: 12px; }